services:
  backend:
    build: .
    container_name: spring_backend
    ports:
      - "8081:8081"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://shinkansen.proxy.rlwy.net:28488/railway?useSSL=false&allowPublicKeyRetrieval=true
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: yKmRjcwYsvNoXeuusuAVIgFrbeZUYpUK
      UPLOAD_DIR: /app/uploads
    volumes:
      - ./uploads:/app/uploads
    restart: on-failure